*{
box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ApP--logo {
  height: 8vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ApP--logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app__header {
  background-color: #EB836D;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0;
}

.AppLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appmain {
  background: #383490;
  flex: 1;
  padding: 2vh 33vw;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 
}

.form label {
  color: white;
  margin-bottom: 5px;
}

.form input,
.form select {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form select {
  font-size: 14px;
}

.form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}